
body {
    background: #86A873;
}

h1, h2, h3, h4, {
    color: #0f0f0f;
    font-family: Helvetica, sans-serif;
    margin-bottom: 0.5em;
}

p, li {
    color: #0f0f0f;
    font-family: Georgia, Serif;
    margin-bottom: 0.5em;
}

#wrap {
    margin: 0 auto;
    width: 80%;
    background: #ffffff;
    padding: 30px;
}

.alt {
    color: green;
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}