
body {
    background: #86A873;
}

h1, h2, h3, h4 {
    color: #0f0f0f;
    font-family: Helvetica, sans-serif;
    margin-bottom: 0.5em;
}

p, li {
    color: #0f0f0f;
    font-family: Georgia, Serif;
    margin-bottom: 0.5em;
    margin: 10px;
    padding: 10px;
}

p {
    margin-top: 0;
}

span {
    font-size: 0.8em;
    text-align: center;
    color: #dedede;
}

.float_right {
    float: right;
    width: 103px;
    margin: 0 0 10px 10px;
    background-color: #0f0f0f;
    padding: 10px;
    border-top: 3px solid #dedede;
    border-right: 3px solid #dedede;
    border-bottom: 3px solid #dedede;
    border-left: 3px solid #dedede;
}

div.float_right img {
    border-top: 3px solid #dedede;
    border-right: 3px solid #dedede;
    border-bottom: 3px solid #dedede;
    border-left: 3px solid #dedede;
}

.container {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.side_bar {
 flex: 1;
    background-color: #3498db;
    padding: 20px;
    border-top: 5px solid #0f0f0f;
    border-right: 5px solid #0f0f0f;
    border-bottom: 5px solid #0f0f0f;
    border-left: 5px solid #0f0f0f;
    border-radius: 8px;
}

.main_bar {
    flex: 2;
    background-color: #2ecc71;
    padding: 20px;
    border-top: 5px solid #0f0f0f;
    border-right: 5px solid #0f0f0f;
    border-bottom: 5px solid #0f0f0f;
    border-left: 5px solid #0f0f0f;
    border-radius: 8px;
}


#wrap {
    margin: 0 auto;
    width: 80%;
    background: #ffffff;
    padding: 30px;
}